header {
    margin-top: 40px;
    display: flex;
    position: relative;
    flex-direction: row; /* Alinea los hijos horizontalmente */
    justify-content: center; /* Centra los hijos horizontalmente */
    align-items: center; /* Centra los hijos verticalmente */
    gap: 10px; /* Añade espacio entre los elementos */
}

.help-button {
    background-color: rgb(225, 148, 228);
    color: black;
    padding: 10px 20px;
    font-size: x-large;
    border-radius: 10px;
    transform: translatex(160%);
    
}

.pet-name {
    position: absolute;
    left: 0; /* Alinea el nombre a la izquierda del contenedor */
     /* Centra verticalmente */
}


button:hover {
    background-color: rgb(255, 0, 234); /* Cambia el color de fondo al pasar el cursor */
    cursor: pointer;
    color: aliceblue;
}
