
.container {
    margin-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider {
    width: 500px;
    height: 250px;
    padding-top: 11px;
    border-radius: 10px;
}

.item {
    left: 123px;
}

.confirm {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-pou-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

