.carousel-slide img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .card-custom {
    padding: 2rem;
  }

  .slider {
    padding: 1rem;
  }

  .confirm {
    flex-direction: column;
  }

  .confirm button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 769px) {
  .confirm {
    display: flex;
    justify-content: center;
  }
}

/* Estilos personalizados para los botones de navegación del carrusel */
.slick-prev,
.slick-next {
  width: 50px; /* Ajusta este valor al tamaño deseado */
  height: 50px; /* Ajusta este valor al tamaño deseado */
  z-index: 1; /* Asegúrate de que los botones estén en la capa superior */
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px; /* Ajusta este valor al tamaño deseado del ícono */
}

/* Opcional: Ajustar la posición de los botones si es necesario */
.slick-prev {
  left: -60px; /* Ajusta este valor según sea necesario */
}

.slick-next {
  right: -60px; /* Ajusta este valor según sea necesario */
}