.heart-container {
    position: absolute;
    top: 12%; 
    left: 42.3%;
}

.speech-balloon-container {
    position: absolute;
    top: 15%; 
    left: 53.3%;
}

.bathtub-container {
    position: absolute;
    top: 37%; 
    left: 33.7%;
}

.bathtub-icon {
    position: relative;
    margin-left: 135px;
    top: -30px;
    scale: 1.5;
    z-index: 1;
}

.love-text-info {  
    text-align: center;
}

.cleaning-info {
    position: relative;
    top: -100px;
}

.heart-icon {
    position: relative;
    margin-left: 57px;
    top: -10px;
    height: 180px;
    width: 180px;
    cursor: pointer;
}

.speech-balloon-icon {
    height: 320px;
    width: 320px;
}


.cursor-sponge {  
    /* 50 50 es para centrar el cursor con la imagen de la esponja (la imagen es 100px X 100px) */
    cursor: url('../images/cursor-sponge.png') 50 50, auto;
}

