.footer {
    margin-top: auto; /* Esto empujará tu footer hacia abajo */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px; /* Espacio entre botones */
    padding: 150px 0; /* Añade un poco de padding arriba y abajo del footer */
  }
  
.footer button {
    background-color: rgb(225, 148, 228);
    color: black;
    padding: 25px 25px;
    font-size: x-large;
    border-radius: 10px;
}

.footer button:hover {
  background-color: rgb(255, 168, 248); /* Cambia el color de fondo al pasar el cursor */
  transform: scale(1.1); 
  color: white; 
  cursor: pointer;
}

